automation/n8n-workflows/certopus-readonly-health-check.draft.json
{
  "name": "Certopus Read-Only Health Check (DRAFT, DISABLED)",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "timezone": "America/New_York"
  },
  "meta": {
    "repo_status": "draft-only; not created live by DIG-47",
    "safety_class": "Certopus GET-only via X-API-KEY, data-minimized",
    "required_review": "manual notification-only run before cron or writeback",
    "live_writes_authorized": false,
    "certificate_operations_authorized": false
  },
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger - Review First",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-900, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {"name": "run_mode", "value": "manual_review"},
            {"name": "certopus_base_url", "value": "https://api.certopus.com"},
            {"name": "preferred_secret_name", "value": "CERTOPUS_API_KEY_AUTOMATION"},
            {"name": "fallback_secret_name", "value": "CERTOPUS_API_KEY"},
            {"name": "paperclip_issue_id", "value": "a9a52fb6-4009-4d21-8a0b-bd4cbf426f62"},
            {"name": "repo_tools_dir", "value": "/mnt/c/Users/ohu00/Desktop/digitalproducts/tools"}
          ],
          "number": [
            {"name": "max_page_size", "value": 25}
          ],
          "boolean": [
            {"name": "emit_raw_records", "value": false},
            {"name": "allow_sends_or_mutations", "value": false},
            {"name": "allow_certificate_operations", "value": false},
            {"name": "cron_enabled_after_review", "value": false}
          ]
        },
        "options": {}
      },
      "id": "set-runtime-config",
      "name": "Set Runtime Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [-680, 0],
      "notes": "Keep emit_raw_records=false, allow_sends_or_mutations=false, and allow_certificate_operations=false. Dedicated n8n credential/env CERTOPUS_API_KEY_AUTOMATION is required before production scheduling."
    },
    {
      "parameters": {
        "command": "cd /mnt/c/Users/ohu00/Desktop/digitalproducts/tools && ./.venv/bin/python appsumo_readonly_probe.py certopus templates --secret-name CERTOPUS_API_KEY_AUTOMATION --page-size 25 --summary-only --json"
      },
      "id": "certopus-templates-summary",
      "name": "Certopus Templates Summary (GET only)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-380, -300],
      "notes": "Summarize template category/count metadata only. Do not emit template bodies, artwork/background payloads, email-template bodies, IDs tied to campaigns, or raw records."
    },
    {
      "parameters": {
        "command": "cd /mnt/c/Users/ohu00/Desktop/digitalproducts/tools && ./.venv/bin/python appsumo_readonly_probe.py certopus organisations --secret-name CERTOPUS_API_KEY_AUTOMATION --page-size 25 --summary-only --json"
      },
      "id": "certopus-organisations-summary",
      "name": "Certopus Organisations Summary (GET only)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-380, -100],
      "notes": "Summarize organisation count/integrationAllowed presence only. Do not emit organisation names, image URLs, brand images, brand signatures, or raw payloads."
    },
    {
      "parameters": {
        "command": "cd /mnt/c/Users/ohu00/Desktop/digitalproducts/tools && ./.venv/bin/python appsumo_readonly_probe.py certopus wallet --secret-name CERTOPUS_API_KEY_AUTOMATION --page-size 25 --summary-only --json"
      },
      "id": "certopus-wallet-summary",
      "name": "Certopus Wallet Summary (GET only)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-380, 100],
      "notes": "Count-only wallet/certificate presence check. Do not emit recipient-linked certificate IDs, wallet addresses, transaction details, or certificate records."
    },
    {
      "parameters": {
        "command": "cd /mnt/c/Users/ohu00/Desktop/digitalproducts/tools && ./.venv/bin/python appsumo_readonly_probe.py certopus smtp --secret-name CERTOPUS_API_KEY_AUTOMATION --page-size 5 --summary-only --json"
      },
      "id": "certopus-smtp-summary",
      "name": "Certopus SMTP Summary (GET only)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-380, 300],
      "notes": "Presence/empty status only. Do not emit SMTP hostnames, usernames, passwords, ports, sender identities, DKIM/SPF details, or raw configuration."
    },
    {
      "parameters": {
        "jsCode": "const allowed = ['platform', 'resource', 'record_count_visible', 'status_counts', 'visible_field_names', 'category_counts', 'status_code', 'content_type'];\nreturn items.map((item) => {\n  let parsed = {};\n  const raw = item.json.stdout || item.json.data || item.json;\n  if (typeof raw === 'string') {\n    try { parsed = JSON.parse(raw); } catch (error) { parsed = { parse_error: String(error) }; }\n  } else {\n    parsed = raw;\n  }\n  const out = {};\n  for (const key of allowed) {\n    if (parsed[key] !== undefined) out[key] = parsed[key];\n  }\n  out.summary_time_utc = new Date().toISOString();\n  out.raw_records_emitted = false;\n  out.certopus_writes_attempted = false;\n  out.certificate_operations_attempted = false;\n  return { json: out };\n});"
      },
      "id": "normalize-results",
      "name": "Normalize Data-Minimized Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-40, 0],
      "notes": "Drops samples/raw bodies and keeps only aggregate connector health fields."
    },
    {
      "parameters": {
        "jsCode": "const lines = ['# Certopus read-only health summary', '', `Generated: ${new Date().toISOString()}`, '', 'Safety: Certopus GET-only via X-API-KEY; raw records omitted; no certificate operations/sends/mutations attempted.', ''];\nfor (const item of items) {\n  const j = item.json;\n  const status = j.status_code ? `HTTP ${j.status_code}` : 'status unknown';\n  const count = j.record_count_visible ?? 'N/A';\n  const buckets = j.status_counts && Object.keys(j.status_counts).length ? `; status buckets: ${JSON.stringify(j.status_counts)}` : '';\n  const categories = j.category_counts && Object.keys(j.category_counts).length ? '; category counts present' : '';\n  lines.push(`- ${j.resource || 'unknown'}: ${status}; visible count ${count}${buckets}${categories}`);\n}\nlines.push('', 'No raw Certopus records, recipient data, certificate payloads, organisation names/branding assets, SMTP settings, wallet details, or API key material emitted.');\nreturn [{ json: { digest_markdown: lines.join('\\n'), raw_records_emitted: false, certopus_writes_attempted: false, certificate_operations_attempted: false } }];"
      },
      "id": "build-digest",
      "name": "Build Operator Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "notes": "Digest is safe for notification after manual review."
    },
    {
      "parameters": {
        "text": "={{$json.digest_markdown}}"
      },
      "id": "notify-operator-placeholder",
      "name": "Notify Operator (configure credential)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [520, 0],
      "disabled": true,
      "notes": "Replace with Email/Slack/Discord node after credential setup. Keep Cron, Paperclip, and GitHub writeback disabled until a notification-only run is reviewed."
    }
  ],
  "connections": {
    "Manual Trigger - Review First": {
      "main": [[{"node": "Set Runtime Config", "type": "main", "index": 0}]]
    },
    "Set Runtime Config": {
      "main": [[
        {"node": "Certopus Templates Summary (GET only)", "type": "main", "index": 0},
        {"node": "Certopus Organisations Summary (GET only)", "type": "main", "index": 0},
        {"node": "Certopus Wallet Summary (GET only)", "type": "main", "index": 0},
        {"node": "Certopus SMTP Summary (GET only)", "type": "main", "index": 0}
      ]]
    },
    "Certopus Templates Summary (GET only)": {
      "main": [[{"node": "Normalize Data-Minimized Results", "type": "main", "index": 0}]]
    },
    "Certopus Organisations Summary (GET only)": {
      "main": [[{"node": "Normalize Data-Minimized Results", "type": "main", "index": 0}]]
    },
    "Certopus Wallet Summary (GET only)": {
      "main": [[{"node": "Normalize Data-Minimized Results", "type": "main", "index": 0}]]
    },
    "Certopus SMTP Summary (GET only)": {
      "main": [[{"node": "Normalize Data-Minimized Results", "type": "main", "index": 0}]]
    },
    "Normalize Data-Minimized Results": {
      "main": [[{"node": "Build Operator Digest", "type": "main", "index": 0}]]
    },
    "Build Operator Digest": {
      "main": [[{"node": "Notify Operator (configure credential)", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "tags": ["draft", "manual-first", "read-only", "certopus", "DIG-47"]
}
