automation/n8n-workflows/emailit-readonly-health-check.draft.json
{
  "name": "Emailit Read-Only Health Check (DRAFT, DISABLED)",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "timezone": "America/New_York"
  },
  "meta": {
    "repo_status": "draft-only; not created live by DIG-40",
    "safety_class": "Emailit API v2 GET-only, data-minimized",
    "required_review": "manual notification-only run before cron or writeback",
    "live_writes_authorized": false
  },
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger - Review First",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-900, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {"name": "run_mode", "value": "manual_review"},
            {"name": "emailit_base_url", "value": "https://api.emailit.com/v2"},
            {"name": "preferred_secret_name", "value": "EMAILIT_API_KEY_AUTOMATION"},
            {"name": "fallback_secret_name", "value": "EMAILIT_API_KEY"},
            {"name": "paperclip_issue_id", "value": "714683bd-df7c-4709-945c-f46c8eb7698f"},
            {"name": "repo_tools_dir", "value": "/mnt/c/Users/ohu00/Desktop/digitalproducts/tools"}
          ],
          "number": [
            {"name": "max_page_size", "value": 25}
          ],
          "boolean": [
            {"name": "emit_raw_records", "value": false},
            {"name": "allow_sends_or_mutations", "value": false},
            {"name": "cron_enabled_after_review", "value": false}
          ]
        },
        "options": {}
      },
      "id": "set-runtime-config",
      "name": "Set Runtime Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [-680, 0],
      "notes": "Keep emit_raw_records=false and allow_sends_or_mutations=false. Dedicated n8n credential/env EMAILIT_API_KEY_AUTOMATION is required before production scheduling."
    },
    {
      "parameters": {
        "command": "cd /mnt/c/Users/ohu00/Desktop/digitalproducts/tools && ./.venv/bin/python appsumo_readonly_probe.py emailit domains --secret-name EMAILIT_API_KEY_AUTOMATION --page-size 25 --summary-only --json"
      },
      "id": "emailit-domains-summary",
      "name": "Emailit Domains Summary (GET only)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-380, -300],
      "notes": "Summarize domain health metadata only. Do not emit domain names, DNS records, verification tokens, or raw records."
    },
    {
      "parameters": {
        "command": "cd /mnt/c/Users/ohu00/Desktop/digitalproducts/tools && ./.venv/bin/python appsumo_readonly_probe.py emailit events --secret-name EMAILIT_API_KEY_AUTOMATION --page-size 25 --summary-only --json"
      },
      "id": "emailit-events-summary",
      "name": "Emailit Events Summary (GET only)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-380, -100],
      "notes": "Summarize event counts/status buckets only. Do not emit recipient addresses, subjects, message bodies, or raw payloads."
    },
    {
      "parameters": {
        "command": "cd /mnt/c/Users/ohu00/Desktop/digitalproducts/tools && ./.venv/bin/python appsumo_readonly_probe.py emailit templates --secret-name EMAILIT_API_KEY_AUTOMATION --page-size 25 --summary-only --json"
      },
      "id": "emailit-templates-summary",
      "name": "Emailit Templates Summary (GET only)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-380, 100],
      "notes": "Summarize template count/schema only. Do not emit template HTML/text/body or customer-specific content."
    },
    {
      "parameters": {
        "command": "cd /mnt/c/Users/ohu00/Desktop/digitalproducts/tools && ./.venv/bin/python appsumo_readonly_probe.py emailit webhooks --secret-name EMAILIT_API_KEY_AUTOMATION --page-size 25 --summary-only --json"
      },
      "id": "emailit-webhooks-summary",
      "name": "Emailit Webhooks Summary (GET only, optional)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [-380, 300],
      "notes": "Metadata/status only. Do not emit webhook URLs, signing secrets, or payload samples. Do not create/update webhooks."
    },
    {
      "parameters": {
        "jsCode": "const allowed = ['platform', 'resource', 'record_count_visible', 'status_counts', 'visible_field_names', 'status_code', 'content_type'];\nreturn items.map((item) => {\n  let parsed = {};\n  const raw = item.json.stdout || item.json.data || item.json;\n  if (typeof raw === 'string') {\n    try { parsed = JSON.parse(raw); } catch (error) { parsed = { parse_error: String(error) }; }\n  } else {\n    parsed = raw;\n  }\n  const out = {};\n  for (const key of allowed) {\n    if (parsed[key] !== undefined) out[key] = parsed[key];\n  }\n  out.summary_time_utc = new Date().toISOString();\n  out.raw_records_emitted = false;\n  out.emailit_writes_attempted = false;\n  return { json: out };\n});"
      },
      "id": "normalize-results",
      "name": "Normalize Data-Minimized Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-40, 0],
      "notes": "Drops samples/raw bodies and keeps only aggregate connector health fields."
    },
    {
      "parameters": {
        "jsCode": "const lines = ['# Emailit read-only health summary', '', `Generated: ${new Date().toISOString()}`, '', 'Safety: Emailit API v2 GET-only; raw records omitted; no sends/mutations attempted.', ''];\nfor (const item of items) {\n  const j = item.json;\n  const status = j.status_code ? `HTTP ${j.status_code}` : 'status unknown';\n  const count = j.record_count_visible ?? 'N/A';\n  const buckets = j.status_counts && Object.keys(j.status_counts).length ? `; status buckets: ${JSON.stringify(j.status_counts)}` : '';\n  lines.push(`- ${j.resource || 'unknown'}: ${status}; visible count ${count}${buckets}`);\n}\nlines.push('', 'No raw Emailit records, message bodies, recipient addresses, template bodies, webhook URLs, DNS secrets, or API key material emitted.');\nreturn [{ json: { digest_markdown: lines.join('\\n'), raw_records_emitted: false, emailit_writes_attempted: false } }];"
      },
      "id": "build-digest",
      "name": "Build Operator Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "notes": "Digest is safe for notification after manual review."
    },
    {
      "parameters": {
        "text": "={{$json.digest_markdown}}"
      },
      "id": "notify-operator-placeholder",
      "name": "Notify Operator (configure credential)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [520, 0],
      "disabled": true,
      "notes": "Replace with Email/Slack/Discord node after credential setup. Keep Cron, Paperclip, and GitHub writeback disabled until a notification-only run is reviewed."
    }
  ],
  "connections": {
    "Manual Trigger - Review First": {
      "main": [[{"node": "Set Runtime Config", "type": "main", "index": 0}]]
    },
    "Set Runtime Config": {
      "main": [[
        {"node": "Emailit Domains Summary (GET only)", "type": "main", "index": 0},
        {"node": "Emailit Events Summary (GET only)", "type": "main", "index": 0},
        {"node": "Emailit Templates Summary (GET only)", "type": "main", "index": 0},
        {"node": "Emailit Webhooks Summary (GET only, optional)", "type": "main", "index": 0}
      ]]
    },
    "Emailit Domains Summary (GET only)": {
      "main": [[{"node": "Normalize Data-Minimized Results", "type": "main", "index": 0}]]
    },
    "Emailit Events Summary (GET only)": {
      "main": [[{"node": "Normalize Data-Minimized Results", "type": "main", "index": 0}]]
    },
    "Emailit Templates Summary (GET only)": {
      "main": [[{"node": "Normalize Data-Minimized Results", "type": "main", "index": 0}]]
    },
    "Emailit Webhooks Summary (GET only, optional)": {
      "main": [[{"node": "Normalize Data-Minimized Results", "type": "main", "index": 0}]]
    },
    "Normalize Data-Minimized Results": {
      "main": [[{"node": "Build Operator Digest", "type": "main", "index": 0}]]
    },
    "Build Operator Digest": {
      "main": [[{"node": "Notify Operator (configure credential)", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "tags": ["draft", "manual-first", "read-only", "emailit", "DIG-40"]
}
